#version: '3'
services:
  redis:
    image: redis:alpine
    container_name: redis4242
    networks:
      - net_trans
    expose:
      - "6379"
    # ports:
    #   - "6379:6379"
    init: true
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

  nginx:
    build:
      context: ./requirements/nginx/
    image: nginx:4242
    container_name: nginx4242
    volumes:
      - ./data/nginx:/var/www/html
    networks:
      - net_trans
    ports:
      - "443:443"
      - "8080:8080"
    depends_on:
      - django
    init: true
    restart: always

  django:
    build:
      context: ./requirements/django/
    image: django:4242
    container_name: django4242
    networks:
      - net_trans
    volumes:
      - ./data/django:/app
    tty: true
    # expose:
    #   - "8000"
    ports:
      - "8000:8000"
      - "8001:8001"
    depends_on:
      postgres:
        condition: service_healthy
    init: true
    restart: always
    # command:
    #   tail -f /dev/null

  postgres:
    build:
      context: ./requirements/postgres/
    image: postgres:4242
#    image: postgres:latest
    container_name: postgres4242
    networks:
      - net_trans
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file: 
      - .env      
    expose:
      - "5432"
    # ports:
    #   - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    #  - ./data/postgres:/var/lib/postgresql/data
    init: true
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    build:
      context: ./requirements/pgadmin/
    image: pgadmin:4242
    container_name: pgadmin4242
    networks:
      - net_trans
    env_file: 
      - .env      
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8888:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    init: true
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

  # postfix:
  #   build:
  #     context: ./requirements/postfix/
  #   image: postfix:4242
  #   container_name: postfix4242
  #   networks:
  #     - net_trans
  #   init: true
  #   ports:
  #     - "25:25"      # SMTP
  #     - "587:587"    # Submission
  #   environment:
  #     - DOMAIN=mydomain.com
  #     - RELAYHOST=[smtp.relayserver.com]:587
  #     - RELAYHOST_USERNAME=myusername
  #     - RELAYHOST_PASSWORD=mypassword
  #   restart: always

networks:
  net_trans:
    name: net_trans
      
# volumes:
#   vol_django:
#     driver_opts:
#       type: 'none'
#       o: 'bind'
#       device: './data/django'
#   vol_postgres:
#     driver_opts:
#       type: none
#       o: bind
#       device: ./data/postgres

volumes:
  postgres_data:
  pgadmin_data: