<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <!-- Header content -->
    </header>
    <nav>
        <!-- Navigation content -->
        <div id="app">
          <nav>
            <a href="#" data-url="page1/" data-spa="true">Page 1</a>
            <a href="#" data-url="page2/" data-spa="true">Page 2</a>
            <a href="#" data-url="page3/" data-spa="true">Page 3</a>
          </nav>
      </div>  
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Footer content -->
        {% load static %}
        <script src="{% static 'js/app.js' %}"></script>
    </footer>
    {% block foot %}{% endblock %}
</body>
</html>
