<form class="ajax-form px-5 mb-5" action="process-post/">
    <input type="hidden" name="page" value="change_password">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <label for="id_password" class="form-label">パスワード</label>
        </div>
        <div id="emailHelpBlock" class="mb-4 col-auto">
            新しいパスワードを入力してください
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <input type="password" class="form-control bg-dark text-light" name="password" id="id_password" value="{{ form_change_password.password.value|default_if_none:'' }}">
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <label for="id_confirm_password" class="form-label">確認用パスワード</label>
        </div>
        <div id="emailHelpBlock" class="mb-4 col-auto">
            確認のため上と同じパスワードを入力してください
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <input type="password" class="form-control bg-dark text-light" name="confirm_password" id="id_confirm_password" value="{{ form_change_password.confirm_password.value|default_if_none:'' }}">
        </div>
        <div class="mb-3 col-auto">
            {% if form_change_password.password.errors %}
                {% for error in form_change_password.password.errors %}
                    {% if error != "このフィールドは必須です。" %}
                        <div class="text-warning">{{ error }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if form_change_password.confirm_password.errors %}
                {% for error in form_change_password.confirm_password.errors %}
                    {% if error != "このフィールドは必須です。" %}
                        <div class="text-warning">{{ error }}</div>
                    {% endif %}
                    {% endfor %}
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>