<form class="ajax-form px-5 mb-5" action="process-post/">
    <input type="hidden" name="page" value="change_password">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <label for="id_password" class="form-label translations" id="change_password_header">　</label>
        </div>
        <div id="change_password_helper1" class="mb-4 col-auto translations">　</div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <input type="password" class="form-control bg-dark text-light" name="password" id="id_password" value="{{ form_change_password.password.value|default_if_none:'' }}">
        </div>
        <div class="mb-3 col-auto">
            {% if form_change_password.password.errors %}
                {% for error in form_change_password.password.errors %}
                    {% if error == "パスワードは8文字以上である必要があります" %}
                        <div class="text-warning translations" id="change_password_warning1">　</div>
                    {% elif error == "パスワードには少なくとも一つの文字が含まれている必要があります" %}
                        <div class="text-warning translations" id="change_password_warning2">　</div>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <label for="id_confirm_password" class="form-label translations" id="change_password_confirmation">　</label>
        </div>
        <div id="change_password_helper2" class="mb-4 col-auto translations">　</div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <input type="password" class="form-control bg-dark text-light" name="confirm_password" id="id_confirm_password" value="{{ form_change_password.confirm_password.value|default_if_none:'' }}">
        </div>
        <div class="mb-3 col-auto">
            {% if form_change_password.confirm_password.errors %}
                {% for error in form_change_password.confirm_password.errors %}
                    {% if error == "同一のパスワードではありません" %}
                        <div class="text-warning translations" id="change_password_warning3">　</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary translations" id="change_password_button">　</button>
</form>