<form class="ajax-form" action="process-post/">
    <input type="hidden" name="page" value="change_password">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="id_password" value="{{ form_change_password.password.value|default_if_none:'' }}">
    </div>
    <div class="mb-3">
        <label for="id_confirm_password" class="form-label">Confirm password</label>
        <input type="password" class="form-control" name="confirm_password" id="id_confirm_password" value="{{ form_change_password.confirm_password.value|default_if_none:'' }}">
    </div>
    <button type="submit" class="btn btn-secondary">Save</button>
</form>