<div class="px-5">
    <h1 class="mb-3 translations" id="single_play_header">　</h1>
    <form class="ajax-form px-5" action="process-post/">
        <input type="hidden" name="page" value="single_play">
        {% csrf_token %}
        <div class="form-group row mb-3">
            <label for="id_ball_speed" class="col-sm-2 col-form-label translations text-light" id="single_ball_speed">　</label>
            <div class="col-sm-3" style="width: 8rem;">
                <select name="ball_speed" id="id_ball_speed" class="form-select bg-dark text-light">
                    <option value="2" {% if form.ball_speed.value == "2" %}selected{% endif %} class="translations" id="single_ball_speed_normal">　</option>
                    <option value="1" {% if form.ball_speed.value == "1" %}selected{% endif %} class="translations" id="single_ball_speed_slow">　</option>
                    <option value="3" {% if form.ball_speed.value == "3" %}selected{% endif %} class="translations" id="single_ball_speed_fast">　</option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="id_paddle_size" class="col-sm-2 col-form-label translations text-light" id="single_paddle_size">　</label>
            <div class="col-sm-3" style="width: 8rem;">
                <select name="paddle_size" id="id_paddle_size" class="form-select bg-dark text-light">
                    <option value="2" {% if form.paddle_size.value == "2" %}selected{% endif %} class="translations" id="single_paddle_size_normal">　</option>
                    <option value="1" {% if form.paddle_size.value == "1" %}selected{% endif %} class="translations" id="single_paddle_size_small">　</option>
                    <option value="3" {% if form.paddle_size.value == "3" %}selected{% endif %} class="translations" id="single_paddle_size_large">　</option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="id_match_point" class="col-sm-2 col-form-label translations text-light" id="single_match_point">　</label>
            <div class="col-sm-3" style="width: 8rem;">
                <select name="match_point" id="id_match_point" class="form-select bg-dark text-light">
                    {% for value, label in form.match_point.field.choices %}
                    <option value="{{ value }}" {% if form.match_point.value == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="id_is_3d" class="col-sm-2 col-form-label translations text-light" id="single_is_3d">　</label>
            <div class="col-sm-3" style="width: 8rem;">
                <select name="is_3d" id="id_is_3d" class="form-select bg-dark text-light">
                    {% for value, label in form.is_3d.field.choices %}
                    <option value="{{ value }}" {% if form.is_3d.value == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="id_ai" class="col-sm-2 col-form-label translations text-light">AI</label>
            <div class="col-sm-3" style="width: 8rem;">
                <select name="ai" id="id_ai" class="form-select bg-dark text-light">
                    <option value="2" {% if form.ai.value == "2" %}selected{% endif %} class="translations" id="single_ai_normal">　</option>
                    <option value="1" {% if form.ai.value == "1" %}selected{% endif %} class="translations" id="single_ai_weak">　</option>
                    <option value="3" {% if form.ai.value == "3" %}selected{% endif %} class="translations" id="single_ai_strong">　</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-5 mt-3 translations" id="single_play_button">　</button>
    </form>
</div>