<form class="ajax-form px-5" action="process-post/">
    <input type="hidden" name="page" value="edit_display_name">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <label for="id_display_name" class="form-label">Display name</label>
        </div>
        <div id="displayNameHelpBlock" class="mb-4 col-auto">
            Display name を入力してください
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <input type="text" class="form-control" name="display_name" id="id_display_name" value="{{ form_edit_display_name.display_name.value|default_if_none:'' }}">
        </div>
        <div id="displayNameAlertBlock" class="mb-3 col-auto"></div>
    </div>
    <button type="submit" class="btn btn-secondary">Save</button>
</form>
<hr></hr>