<h1 class="px-5">プロフィールの編集</h1>
<form class="ajax-form px-5 mt-5" action="process-post/">
    <input type="hidden" name="page" value="edit_email">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <label for="id_email" class="form-label">Email</label>
        </div>
        <div id="emailHelpBlock" class="mb-4 col-auto">
            メールアドレスを入力してください
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <input type="email" class="form-control" name="email" id="id_email" value="{{ form_edit_email.email.value|default_if_none:'' }}">
        </div>
        <div id="emailAlertBlock" class="mb-3 col-auto"></div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<hr></hr>