<h2>Edit Profile</h2>

<form class="ajax-form" action="process-post/" enctype="multipart/form-data">
    <input type="hidden" name="page" value="edit_profile">
    {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    
    <!-- <form class="ajax-form" action="process-post/" enctype="multipart/form-data">
        <input type="hidden" name="page" value="edit_profile">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            {{ form.username }}
            <button type="submit" onclick="submitField('username')">Save Username</button>
        </div>
        <div>
            <label for="email">Email:</label>
            {{ form.email }}
            <button type="submit" onclick="submitField('email')">Save Email</button>
        </div>
        <div>
            <label for="avatar">Avatar:</label>
            {{ form.avatar }}
            <button type="submit" onclick="submitField('avatar')">Save Avatar</button>
        </div>
        <div>
            <label for="password">Password:</label>
            {{ form.password1 }}
            <label for="password">Password(確認用):</label>
            {{ form.password2 }}
            <button type="submit" onclick="submitField('password')">Save Passwordr</button>
        </div> -->