<h1 class="px-5 mb-4 translations" id="edit_profile">　</h1>
<form class="ajax-form px-5" action="process-post/">
    <input type="hidden" name="page" value="edit_email">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <label for="id_email" class="form-label translations" id="edit_email_header">　</label>
        </div>
        <div id="edit_email_helper" class="mb-4 col-auto translations">　</div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="mb-3 col-auto">
            <input type="text" class="form-control bg-dark text-light" name="email" id="id_email" value="{{ form_edit_email.email.value|default_if_none:'' }}">
        </div>
        {% if form_edit_email.email.errors %}
            {% for error in form_edit_email.email.errors %}
                {% if error != "このフィールドは必須です。" %}
                    <div class="text-warning translations mb-3 col-auto" id="edit_email_warning">　</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary translations" id="edit_email_button">　</button>
</form>
<hr></hr>