<head>
    <style>
        .errorlist {
            display: none;
        }
        .btn-flat {
            border-radius: 0 !important; /* 角の丸みを無くす */
        }
    </style>
</head>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav flex-column">
          <li class="nav-item" style="width: 100%;">
            <a class="btn btn-primary post-link w-100" href="#" data_url="process-post/" page="friends" style="margin-bottom: 10px;">友達</a>
          </li>
          <li class="nav-item" style="width: 100%;">
            <a class="btn btn-primary post-link w-100" href="#" data_url="process-post/" page="friend_request" style="margin-bottom: 10px;">友達リクエスト</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <div class="px-5">
            <h1>友達リクエスト</h1>
            <form class="ajax-form" action="process-post/">
                <input type="hidden" name="page" value="friend_request">
                {% csrf_token %}
                <div class="form-group mb-0">
                    {{ form.to_user }}
                </div>
                <button type="submit" class="btn btn-primary btn-sm mt-1">追加</button>
            </form>
        </div>
        <hr></hr>
      </div>
    </div>
  </div>
