<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active post-link" aria-current="page" href="#" data_url="process-post/" page="friends">友達</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active post-link" aria-current="page" href="#" data_url="process-post/" page="friend_request_list">友達リクエスト</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active post-link" aria-current="page" href="#" data_url="process-post/" page="friend_request">友達追加</a>
                </li>
            </ul> -->
        </div>
        <div class="col-md-10">
            <div class="px-5">
                <h5 class="mb-3 translations" id="friend_request_list_header">　</h5>
                <form class="ajax-form" action="process-post/">
                    <input type="hidden" name="page" value="friend_request_list">
                    {% csrf_token %}
                    {% for request_id, data in forms.items %}
                    <div style="display: flex; align-items: center; margin-bottom: 10px;">
                        <div style="width: 5rem;">
                            <form method="post" class="friend-request-form" data-request-id="{{ request_id }}" style="flex-shrink: 0;">
                                <div style="display: none;">{{ data.1 }}</div>
                                <input type="hidden" name="request_id" value="{{ request_id }}">
                                <input type="hidden" name="prefix" value="{{ data.1.prefix }}">
                                <button class="btn btn-primary btn-sm translations" type="submit" id="friend_request_list_button" style="width: 4rem;">承認</button>
                            </form>
                        </div>
                        <div style="flex-grow: 1; margin-right: 10px;">
                            {{ data.0.from_user.display_name }}
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <hr></hr>
        </div>
    </div>
</div>

