<div class="px-5">
    <h1 class="mb-3 translations" id="game_stats_header">　</h1>
    <table class="table-dark table">
        <thead>
            <tr>
                <th scope="col" class="text-nowrap">　</th>
                <th scope="col" class="translations text-nowrap" id="game_stats_user">　</th>
                <th scope="col" class="translations text-nowrap" id="game_stats_wins">　</th>
                <th scope="col" class="translations text-nowrap" id="game_stats_losses">　</th>
                <th scope="col" class="translations text-nowrap" id="game_stats_win_rate">　</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td class="text-nowrap" style="width: 5rem">
                    <a href="#" id="game_stats_button" class="btn btn-primary btn-sm post-link btn-custom translations text-nowrap" data_url="process-post/" page="match_history" user_id="{{ user.id }}" style="width: 6rem;">見る</a>
                </td>
                <td class="text-nowrap" style="width: 30rem;">{{ user.display_name }}</td>
                <td class="text-nowrap">{{ user.wins }}</td>
                <td class="text-nowrap">{{ user.losses }}</td>
                <td class="text-nowrap">{{ user.win_rate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>