<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>

<body>
    <nav>
        <!-- Navigation content -->
        <div id="nav">
            <nav>
                <a href="#" id="top" class="post-link" data_url="process-post/" page="top" title="トラセントップ"> Top </a>
                ここはナビゲーションバー
                <a href="#" class="post-link" data_url="process-post/" page="page1" title="title page1">Page 1</a>
                <a href="#" class="post-link" data_url="process-post/" page="page2" title="title page2">Page 2</a>
                <a href="#" class="post-link" data_url="process-post/" page="test" title="test">Test</a>
                <a href="#" class="post-link" data_url="process-post/" page="ponggame" title="Pong Game">Ponggame</a>
                <a href="#" class="post-link" data_url="process-post/" page="formtest" title="formのテスト">フォームテスト</a>
                <a href="#" class="post-link" data_url="process-post/" page="signup" title="signup">Signup</a>
                <a href="#" class="post-link" data_url="process-post/" page="login" title="login">Login</a>
                <a href="#" class="post-link" data_url="process-post/" page="profile" title="Profile">Profile</a>
                <a href="#" class="post-link" data_url="process-post/" page="logout" title="Logout">Logout</a>
                <a href="#" class="post-link" data_url="process-post/" page="edit_profile" title="Edit Profile">Edit Profile</a>
            </nav>
        </div>
    </nav>
    <header id="head">
        {% block head %}{% endblock %}
    </header>

    <main id="content">
        {% block content %}{% endblock %}
    </main>
    <footer id="foot">
        {% block foot %}{% endblock %}
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

</html>