<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/navbar-top.css"> -->
    <title>{% block title %}Default Title{% endblock %}</title>
    <style>
        body { margin: 0; }
        canvas { display: block; }
        #overlayCanvas { position: absolute; top: 0; left: 0; pointer-events: none; }

        #custom-alert {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #83ffb9;
            color: #192ffd;
            border: 1px solid #158eff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="nav">
        <div class="container-fluid">
            <a href="#" id="top" class="post-link navbar-brand" data_url="process-post/" page="top" title="トラセントップ"> Top </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="logout" title="Logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="profile" title="Profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="edit_profile" title="Edit Profile">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="edit_profile" title="Edit Profile">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="friend_request" title="Friend Request">Friend Request</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="friend_request_list" title="Friend Request List">Friend Request List</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="friends" title="Friends">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="lobby" title="Lobby">Lobby</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto"> 
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="signup" title="signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active post-link" aria-current="page" data_url="process-post/" page="login" title="login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header id="head" style="margin-top: 70px;">
        {% block head %}{% endblock %}
    </header>

    <main id="content">
        {% block content %}{% endblock %}
    </main>
    <footer id="foot">
        {% block foot %}{% endblock %}
    </footer>   


    <div id="custom-alert">これはカスタムアラートです！</div>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

</html>