{% extends 'global_base.html' %}
{% load static %}

{% block title %}Top Page{% endblock %}
<!-- Additional JavaScript for this page -->
{% block headerscript %}
{% endblock %}
<!-- Additional JavaScript files for this page -->
{% block headerscriptfile %}
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
これがデフォルトのコンテンツ
<a href="#" class="post-link" data-url="/process-post/" data-param1="value1" data-param2="value2">Click me</a>
<a href="#" class="post-link" data-url="/process-post/" page="index">Click me</a>
<a href="#" class="post-link" data-url="/process-post/" page="singup">Click me</a>

<script src="{% static 'js/main.js' %}"></script>
<form>
    <input type="hidden" name="page" value="dango">
    <input type="hidden" name="content" value="どれどれ">
    <input type="submit">
</form>
{% endblock %}

<!-- Additional JavaScript for this page -->
{% block foot %}
{% endblock %}