<head>
    <style>
        /* .errorlist {
            display: none;
        } */
        .form-control {
            border-radius: 0; /* 角の丸みを無くす */
        }
        .form-control::placeholder {
            color: #ccc; /* プレースホルダーのテキスト色を灰色に設定 */
            opacity: 1; /* オパシティをフルにして一貫性を保つ */
        }
    </style>
</head>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <form class="ajax-form form-signup" action="process-post/">
                <input type="hidden" name="page" value="login">
                <h1 class="mb-5 mt-5 font-weight-normal text-center">ログイン</h1>
                {% csrf_token %}
                <input type="text" id="{{ form.username.id_for_label }}" class="form-control bg-dark text-light" placeholder="ユーザーネーム" name="{{ form.username.name}}" required>
                <input type="password" id="{{ form.password.id_for_label }}" class="form-control bg-dark text-light" name="{{ form.password.name }}" placeholder="パスワード" required>
                <div class="error-container mt-2 mb-2" style="height: 50px;">
                    {% if form.non_field_errors %}
                        <div class="mb-3 col-auto text-warning">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-lg btn-primary d-block mx-auto mt-5">ログイン</button>
            </form>
        </div>
    </div>
</div>






