{% extends 'content_base.html' %}
{% load static %}

<!--タイトルはここで必ず設定して -->
{% block title %}Page 3{% endblock %}

{% block headerscript %}
<!-- Additional JavaScript for this page -->
console.log("page 3");
{% endblock %}

{% block head %}
<p>This is the content of Page 3 header</p>
{% endblock %}

{% block content %}
<!-- SPAのコンテンツをここに記載 -->
<p>This is the content of Page 3.</p>
{% endblock %}

{% block foot %}
<!-- Additional JavaScript for this page -->
<p>This is the content of Page 3 footer</p>
{% endblock %}