<div class="container d-flex justify-content-center">
    <div id="gameCanvas"></div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div id="player2title" class="col">
            {% if room.is_single == False %}
                Player 2
            {% endif %}
        </div>
        <div id="player4title" class="col">
            {% if room.doubles %}
                Player 4
            {% endif %}
        </div>
        <div id="player3title" class="col">
            {% if room.doubles %}
                Player 3
            {% endif %}
        </div>
        <div id="player4title" class="col">
          Player 1
        </div>
    </div>
    <div class="row">
        <div id="player2name" class="col">
            {% if room.user2 %}
                {{ room.user2.display_name }}
            {% endif %}
        </div>
        <div id="player4name" class="col">
            {% if room.user4 %}
                {{ room.user4.display_name }}
            {% endif %}
        </div>
        <div id="player3name" class="col">
            {% if room.user3 %}
                {{ room.user3.display_name }}
            {% endif %}
        </div>
        <div id="player1name" class="col">
            {% if room.user1 %}
                {{ room.user1.display_name }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#" class="btn btn-primary btn-sm mb-3 btn-custom translations" ready="1" title="" id="game_ready" style="width: 10rem;">Are you ready?</a>
        </div>
        <div class="col">
            操作　2D I-K 3D J-L
        </div>
    </div>
</div>