<div class="px-5">
    <h1 class="mb-3">プロフィール</h1>
    <div class="card border-light mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="media/{{ user.avatar }}" class="img-fluid rounded-start" alt="User Avatar">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">ユーザーネーム</h5>
                    <p class="card-text">{{ user.username }}</p>
                    <h5 class="card-title">ディスプレイネーム</h5>
                    <p class="card-text">{{ user.display_name }}</p>
                    <h5 class="card-title">メール</h5>
                    <p class="card-text">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

</body>
</html> --> 
