{% extends 'content_base.html' %}
{% load static %}

<!--タイトルはここで必ず設定して -->
{% block title %}Account Plofile{% endblock %}

{% block headerscript %}
<!-- Additional JavaScript for this page -->
console.log("account plofile");
{% endblock %}

{% block head %}
<!-- <p>This is the content of Account Plofile header</p> -->
{% endblock %}

{% block content %}
<!-- SPAのコンテンツをここに記載 -->
<h1>User Profile</h1>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Nickname: {{ user.nickname }}</p>
{% endblock %}

<!-- Additional JavaScript for this page -->
{% block foot %}
<!-- <p>This is the content of Account Plofile footer</p> -->
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

</body>
</html> --> 
