<div class="px-5" id="signup_page">
    <h1 class="mb-3 translations" id="signup_header">　</h1>
    <form class="ajax-form" action="process-post/">
        <input type="hidden" name="page" value="signup">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <label for="id_username" class="form-label translations" id="signup_username">　</label>
            </div>
            <div id="signup_username_helper" class="mb-4 col-auto translations">
                　
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <input type="text" class="form-control bg-dark text-light" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" required>
            </div>
            {% if form.username.errors %}
                <div class="mb-3 col-auto text-warning">
                    {{ form.username.errors.as_text }}
                </div>
            {% endif %}
            <!-- {% if form.username.errors %}
                {% for error in form.username.errors %}
                    {% if error != "このフィールドは必須です。" %}
                        <div class="mb-3 col-auto text-warning translations" id="signup_username_warning">
                            {{ error }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %} -->
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <label for="id_email" class="form-label translations" id="signup_email">　</label>
            </div>
            <div class="mb-4 col-auto translations" id="signup_email_helper">
                　
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <input type="email" class="form-control bg-dark text-light" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" required>
            </div>
            {% if form.email.errors %}
                <div class="mb-3 col-auto text-warning">
                    {{ form.email.errors.as_text }}
                </div>
            {% endif %}
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <label for="id_password1" class="form-label translations" id="signup_password">　</label>
            </div>
            <div id="signup_password_helper" class="mb-4 col-auto translations">
                　
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <input type="password" class="form-control bg-dark text-light" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" required>
            </div>
            {% if form.password1.errors %}
                <div class="mb-3 col-auto text-warning">
                    {{ form.password1.errors.as_text }}
                </div>
            {% endif %}
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <label for="id_password2" class="form-label translations" id="signup_confirmation">　</label>
            </div>
            <div id="signup_confirmation_helper" class="mb-4 col-auto translations">
               　
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <input type="password" class="form-control bg-dark text-light" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" required>
            </div>
            {% if form.password2.errors %}
                <div class="mb-3 col-auto text-warning">
                    {{ form.password2.errors.as_text }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mb-5 mt-3 translations" id="signup_button">　</button>
    </form>
</div>

<!-- <div class="px-5">
    <h1 class="mb-3">サインアップ</h1>
    <form class="ajax-form" action="process-post/">
        <input type="hidden" name="page" value="signup">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">サインアップ</button>
    </form>
</div> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
</body>
</html> -->

