<head>
    <style>
        .errorlist {
            display: none;
        }
    </style>
</head>
<div class="px-5">
    <h1 class="mb-3">サインアップ</h1>
    <form class="ajax-form" action="process-post/">
        <input type="hidden" name="page" value="signup">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <label for="id_username" class="form-label">ユーザーネーム</label>
            </div>
            <div id="usernameHelpBlock" class="mb-4 col-auto">
                半角英数字でユーザーネームを入力してください
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <input type="text" class="form-control bg-dark text-light" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" required>
            </div>
            <div id="usernameAlertBlock" class="mb-3 col-auto"></div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <label for="id_email" class="form-label">メールアドレス</label>
            </div>
            <div id="emailHelpBlock" class="mb-4 col-auto">
                メールアドレスを入力してください
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <input type="email" class="form-control bg-dark text-light" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" required>
            </div>
            <div id="emailAlertBlock" class="mb-3 col-auto"></div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <label for="id_password1" class="form-label">パスワード</label>
            </div>
            <div id="password1HelpBlock" class="mb-4 col-auto">
                8文字以上の半角英数字を入力してください
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <input type="password" class="form-control bg-dark text-light" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" required>
            </div>
            <!-- <div id="password1AlertBlock" class="mb-3 col-auto"></div> -->
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <label for="id_password2" class="form-label">確認用</label>
            </div>
            <div id="password2HelpBlock" class="mb-4 col-auto">
                確認のため上と同じパスワードを入力してください
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="mb-3 col-auto">
                <input type="password" class="form-control bg-dark text-light" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" required>
            </div>
            <div id="password2AlertBlock" class="mb-3 col-auto"></div>
        </div>
        <button type="submit" class="btn btn-primary mb-5 mt-3">サインアップ</button>
    </form>
</div>

<!-- <div class="px-5">
    <h1 class="mb-3">サインアップ</h1>
    <form class="ajax-form" action="process-post/">
        <input type="hidden" name="page" value="signup">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">サインアップ</button>
    </form>
</div> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
</body>
</html> -->

